.container {
    display: flex;
    align-items: start;
    gap: 5px;
    margin-bottom: 50px;

    label {
        padding: 0 5px;
        border: 2px solid #9c9c9c;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    label:hover {
        border: 2px solid #007bff;
        color: #007bff;
    }
    
    button {
        padding: 3px 10px;
        border: 1px solid #9c9c9c;
        box-shadow: 1px 1px 5px 0 #9c9c9c;
        transition: all 0.2s;
    }
    button:hover {
        color: #007bff;
        border: 1px solid #007bff;
        box-shadow: 2px 2px 9px 0 #9c9c9c;    
        transform: translate(0, -3px);
    }
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}
