.container {
    font-size: 18px;
    b {
        font-size: 20px;
    }
    p {
        margin: 0;
    }
    .platforms {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: end;
        span {
            text-decoration: solid underline;
        }
    }
    .description {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 auto;
        max-width: 800px;       
    }
    .buttonWrap {
        padding-top: 50px;
    }

    @media (max-width: 1024px) {
        h1 {
            font-size: 42px;
        }
        .description {
            max-width: 690px;
        }
    }

    @media (max-width: 760px) {
        h1 {
            font-size: 36px;
        }
        .description {
            max-width: 500px;
        }
    }

    @media (width < 560px) {
        .description {
            width: 320px;
        }
    }
    
}