.slider {
    max-width: 800px;
    .slide {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .slider {
        max-width: 690px;
    }
}

@media (max-width: 760px) {
    .slider {
        max-width: 500px;
    }
}

@media (max-width: 560px) {
    .slider {
        max-width: 350px;
    }
}


