#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  padding: 5px 20px;
  color: inherit;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 0 #9c9c9c;
  transition: all 0.2s;
}
.button:hover {
  color: #007bff;
  border: 1px solid #007bff;
  box-shadow: 2px 2px 9px 0 #9c9c9c;    
  transform: translate(0, -3px);
}